<!doctype html>
<html>
<head>
  <title>{% block title %}Gestion des entreprises{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header>
     <h1>{% block header %}Gestion des entreprises{% endblock %}</h1>
  </header>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    
    {% block content %}{% endblock %}
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>